@import "../gradient";

/** 4. Start About me **/
.about-me {
  height: calc(100vh - 70px);
  background-color: var(--bg);
  .about-me__avatar {
    position: relative;
    transition: all 1.2s ease;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    .about-me__awards {
      width: 120px;
      height: 120px;
      border-radius: 50%;
      background-color: #000;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      color: #FFF;
      text-align: center;
      font-size: 14px;
      top: 20px;
      left: 30px;
      font-weight: 400;
      box-shadow: 0 10px 20px 2px #0000003b;
      i {
        margin: 0 0 5px;
        font-size: 20px;
      }
      &:before {
        content: '';
        width: 60px;
        height: 105px;
        display: inline-block;
        background-image: url('../../img/arrow-2.png');
        background-repeat: no-repeat;
        background-position: center;
        position: absolute;
        background-size: contain;
        left: -60px;
        bottom: -90px;
        animation: animation-awards 1.5s 1s infinite linear alternate;
      }
    }
    @keyframes animation-awards {
      0% {
        left: -60px;
        bottom: -90px;
      }
      100% {
        left: -75px;
        bottom: -105px;
      }
    }
    .about-me__exp {
      width: 200px;
      height: 70px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #fff;
      border-radius: 5px;
      font-size: 14px;
      font-weight: 400;
      padding: 15px 15px;
      bottom: 50px;
      left: 30px;
      top: inherit;
      box-shadow: 0 10px 20px 2px #0000003b;
      @extend .bg-green-gradient;

      strong {
        margin: 0 10px 0 0;
        font-weight: 700;
        font-size: 42px;
      }
      span {
        font-weight: 400;
      }
      &:before {
        content: '';
        width: 135px;
        height: 65px;
        display: inline-block;
        background-image: url('../../img/arrow-1.png');
        background-repeat: no-repeat;
        background-position: center;
        position: absolute;
        background-size: contain;
        bottom: -75px;
        right: -25px;
        animation: animation-exp 1.5s 1s infinite linear alternate;
      }
    }
    @keyframes animation-exp {
      0% {
        bottom: -75px;
      }
      100% {
        bottom: -90px;
      }
    }
    .about-me__clients {
      width: 150px;
      height: 120px;
      bottom: 150px;
      top: inherit;
      right: -70px;
      left: inherit;
      text-align: center;
      font-size: 14px;
      font-weight: 400;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border-radius: 5px;
      color: #FFF;
      box-shadow: 0 10px 20px 2px #0000003b;
      animation: animation-clients 1.5s 1s infinite linear alternate;
      @extend .bg-orange-gradient;
      .brand {
        margin: 0 0 5px;
        i {
          margin: 0 -30px;
          width: 35px;
          height: 35px;
          background-color: #ddd;
          display: inline-flex;
          align-items: center;
          justify-content: center;
          border-radius: 50%;
          font-size: 16px;
          &.icofont-brand-disney {
            background-color: #006e99;
          }
          &.icofont-brand-gucci {
            background-color: #BD9302
          }
          &.icofont-brand-adobe {
            background-color: #ed2224
          }
        }
      }
    }
    @keyframes animation-clients {
      0% {
        bottom: 150px;
      }
      100% {
        bottom: 155px;
      }
    }
  }
  .about-me__intro {
    margin: 30px 0 0;
    font-size: 18px;
    color: var(--text);
  }
  .about-me__contact {
    margin: 30px 0 0;
    .about-me__button {
      a {
        padding: 8px 30px;
        border-radius: 5px;
        display: inline-block;
        background-color: var(--bg-about-button);
        color: var(--text-about-button);
        font-weight: 400;
        transition: all .3s ease;
        &:hover {
          transform: translate(0, -2px);
          box-shadow: 0 10px 20px 2px rgb(0 0 0 / 23%);
        }
      }
    }
  }
  .about-me__name {
    margin: 0 0 30px;
    font-size: 52px;
    color: var(--text);
    strong {
      font-weight: 700;
      font-size: 62px;
    }
  }
  .about-me__position {
    font-size: 14px;
    color: var(--text-main);
  }
}

/** 4. End About me **/